*{
  padding: 0;
  background-color: blueviolet;
}
.App {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100vw;
  font-family:'Times New Roman',Arial, Helvetica, sans-serif;
  margin-top: 0px;
}
body{
  padding: 0;
}
.bar{
  text-align :center
}
.btn{
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border-color: blueviolet;
  box-shadow: none;
}
.search{
  width: 1px;
  height: 1px;
}
h1{
  margin: 0;
  background-color: black;
  color: beige;
  text-align: center;
  padding: 10px;
}
input{
  border-radius: 10px;
}
input[type="text"], textarea {
  background-color : #d1d1d1; 
}
a{
  color:white;
  background-color: purple;
}
nav{
  text-align: end;
  color: blue;
  padding: 20px 20px;
  background-color: purple;
}
hr{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
}
footer{
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;
  color: white;
}
